

.bg-dark {
    background-color:#343a40!important;
}
.v-bottom{
    position:absolute;                 
    bottom:0;                         
    left:0;    
 }
 .spacer {
    padding:5px;
 }

 .table {
    background-color: #fff;
}

.table thead th {
 
    border-bottom: 2px solid #000;
}

.table td, .table th {
    border-top: 1px solid #1d1b1b;
}

.even {
    background-color: #f1f1f1;
}

.cancel {
    background-color: #e47373!important;
    opacity:50%;
}

.row.ad_space {
    width: 100%;
    padding: 10px;
}
